{% extends 'blog/base.html' %}
{% block content %}
<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>
<p>By {{ object.author }}</p>

<h3>Comments</h3>
{% for comment in object.comment_set.all %}
    <p>{{ comment.author }}: {{ comment.content }}</p>
{% endfor %}

{% if user.is_authenticated %}
<form method="post" action="/posts/{{ object.id }}/comments/new/">
    {% csrf_token %}
    <textarea name="content"></textarea>
    <button type="submit">Add Comment</button>
</form>
{% endif %}
{% endblock %}
